# Python / venv
.venv/
__pycache__/
*.pyc

# OS / editor
.DS_Store
Thumbs.db

# Logs / caches
*.log
logs/
outputs/

# Streamlit
.streamlit/credentials.toml

# MLflow local stuff
mlflow.db
mlruns_local/

# Artifacts you don’t want in Git
artifacts/

# Node projects (if you keep frontend/)
frontend/node_modules/

# Jupyter checkpoints
.ipynb_checkpoints/
